@charset "utf-8";
#cart_mainWarp{width:995px; margin-left:auto; margin-right:auto;}
/*.cart_Th,a.jia_num,a.jian_num,.cart_operation a,.promotionCodeBox .applybtn,.helpTag,.continueBox a,
.proceedCheakoutBtn,.paypalBtn,.estimateBox h3 b,.estimateBox .Estimate_Th,.p_free,.freeGifListBox .proAddToCart a,
 .p_mg strong,.cartHeader b,#btn-save-consignee,.PlaceYouOrderBtn,#btn-cancel-consignee,.p_Ship{background:url(../images/styleimg/ahappydealtag.png) no-repeat 0 0;} */
.o_box{border:1px solid #FFB346;}
/*购物车步骤提示*/
.cart_title_1,.cart_title_2,.cart_title_3,.cart_title_4{display:block;width:210px;text-indent:-9999px;}
.cart_title_1{background-position:-70px -80px; margin-left:70px;}
.cart_title_2{background-position:-285px -80px; margin-left:285px;}
.cart_title_3{background-position:-500px -80px; margin-left:500px;}
.cart_title_4{background-position:-730px -80px; margin-left:730px;}
/*购物车详情*/
.cart_Th {background-position:0 -80px; background-repeat:repeat-x;height:30px;border-top:1px solid #ddd; line-height:30px;}
.cart_Th li{display:inline;float:left;}
.cart_item_1,.cart_item_2,.cart_item_3,.cart_item_4,.cart_item_5,.cart_item_6{ text-align:center;}
.cart_item_1{width:70px;}
.cart_item_2{width:405px;}
.cart_item_3,.cart_item_4{width:140px;}
.cart_item_5,.cart_item_6{width:100px;}

.cart_goods_list{height:80px;padding-top:10px;border-bottom:1px dashed #ddd;}
.cart_goods_list li{display:inline;float:left;}
.cart_image{width:70px;text-align:center; }
.cart_goodsname{width:400px;padding-left:5px;font-size:11px;line-height:15px;}
.cart_goodsname a{display:block;color:#03c;text-decoration:none;}
.cart_goodsname a:hover{text-decoration:underline;}
.cart_unitprice{width:140px;text-align:center;}
.cart_quantity,.cart_subtotal{width:140px;text-align:center;}
.shanchuxian{ text-decoration:line-through;}
.cart_quantity span{display:block;height:15px;width:100%;text-align:center;}
a.jia_num,a.jian_num{width:12px;height:13px; text-indent:-9999px;overflow:hidden;}
a.jia_num{background-position:-164px -1038px;margin:3px 0 0 5px;}
a.jian_num{background-position:-188px -1038px;margin:3px 5px 0 40px;}
.cart_subtotal,.cart_operation{width:100px;text-align:center; margin-top:15px;}
.cart_operation{text-align:center;}
.cart_operation a{background-position:-161px -1056px;display:block;width:18px;height:18px;margin:0 auto;text-indent:-9999px;overflow:hidden;}
.p_free{ background-position:-120px -640px;display:block; width:110px; height:18px; text-indent:-9999px; overflow:hidden;}

.checkOut{width:225px; padding:30px 20px 0 0;}
.proceedCheakoutBtn,.paypalBtn{ display:inline; float:right; text-indent:-999px; overflow:hidden; border:none;}
.proceedCheakoutBtn{background-position:0 -1290px;width:187px; height:32px;}
.checkOut p{ clear:both; padding-right:30px; line-height:30px; text-align:right;}
.paypalBtn{background-position:0 -1330px; width:143px; height:37px; cursor:pointer;}
/*结果*/
.cart_total_list{background:#f1f1f1; height:30px;text-align:right;line-height:30px;padding-right:15px;}

.promotionCodeBox{ margin:10px 5px 0;padding-left:10px; line-height:30px;position:relative;}
.promotionCodeBox label{font-weight:bold;}
.promotionCodeBox label,.promotionCodeBox input{display:inline; float:left;}
.promotionCodeBox input{margin:5px 0 0 5px;}
#promotion_code{ height:18px; line-height;18px;}
.promotionCodeBox .shipping_method{margin:8px 0 0;}
.promotionCodeBox .applybtn{background-position:-179px -1100px;width:75px;height:20px; border:none;}
.helpTag{background-position:-182px -1056px;margin:10px 0 0 5px;width:12px;height:12px;text-indent:-9999px;overflow:hidden; cursor:pointer;}
#yiwen,#gifts_txt{background:url(../images/styleimg/whbg.gif) no-repeat 0 0;position:absolute;left:410px;top:-4px;width:464px;height:57px;padding:5px 0 0 14px;font:10px/13px Verdana, Arial, Helvetica, sans-serif; }
#apply_msg{ display:inline; float:left; color:red;}

.freeGifListBox{width:680px;padding:10px; margin:10px 0 10px 5px;}
.freeGifListBox h3{height:30px; line-height:30px;font-weight:bold;font-size:12px; position:relative;}
.freeGifListBox h3 a{color:#039px; font-weight:normal;font-size:10px; color:#039;}
.freeGifListBox .shipping_method{ margin-top:8px;}
#gifts_txt{ left:180px;}
.freeGifListBox li{display:inline;float:left;width:120px; padding:8px; text-align:center;}
.freeGifListBox li .proName{ height:33px; overflow:hidden;}
.freeGifListBox .proPriceBox{ line-height:30px; font-size:12px; text-decoration:line-through;}
.freeGifListBox .proAddToCart{ height:24px;}
.freeGifListBox .proAddToCart a{background-position:-154px -1330px;display:block; margin:0 auto; width:100px; height:24px; text-indent:-9999px; overflow:hidden;}
.continueBox a{display:block;width:157px;height:29px;background-position:0 -1250px;text-indent:-9999px; overflow:hidden;}
/*cart tips*/
.cartText{background:#f1f1f1;clear:both;padding:5px; font-size:11px; line-height:15px;}
/*Estimate Shipping Cost*/
.estimateBox h3,.cartHeader{ height:30px; padding-left:10px; line-height:30px; border:1px solid #ddd; border-width:1px 0 1px; font-weight:bold; font-size:12px;}
.estimateBox h3 b,.cartHeader b{ background-position:-200px -1060px;display:inline; float:left; margin:8px 5px 0 0; width:14px; height:15px;}
.estimateBox p,.estimateBox .shippTo{ padding:0 10px; line-height:30px;}
.estimateBox table{font-size:10px; margin-bottom:10px; margin-top:10px;}
.estimateBox .Estimate_Th{background-repeat: repeat-x; height:28px;}
.estimateBox .Estimate_Th th{ text-align:center; border-top:1px solid #ddd; }
.estimateBox .Estimate_Th strong{ font-weight:bold;}

/*没有商品时*/
.no_goods_tips{ line-height:50px; font-size:12px; text-align:center;}
.no_goods_tips a{ color:#f60;}
.goods_ListBox{ border-width:1px 0 0;}
.goods_ListBox h3{ font-size:14px;}

.goods_List li{ display:inline; float:left; margin:-1px 0 10px; padding:15px 22px 0; width:150px; height:282px; }
.goods_List a{ text-decoration:none; color:#666;}
.goods_List a:hover{ text-decoration:underline;}

.p_mg{ width:150px; height:150px;}
.p_mg strong,.list_p_mg strong{display:block;position:absolute; right:-5px; top:-5px;background-position:-40px -560px;padding-top:5px;width:44px;height:39px; text-align:center; color:#fff; font-size:12px; }
.p_mg span,.list_p_mg span{ font-size:14px; padding-right:2px;font-weight:bold;}
.p_mg a,.list_p_mg a{ font-size:0;}

.p_name{ height:26px; line-height:13px; overflow:hidden;}
.p_name a:hover{ color:#f60;}
.p_price{ height:18px; line-height:18px; font-size:11px;}
.p_price i{background-position:0 -717px;width:13px; text-indent:-9999px; overflow:hidden; cursor:pointer;}
.p_price_cost{ padding-top:5px;}
.p_price_cost span{ text-decoration:line-through;}
.p_free,.p_Ship{ display:block; width:110px; height:18px; text-indent:-9999px; overflow:hidden;}
.p_free{ background-position:-120px -640px;}
.p_Ship{background-position:0 -640px;}
.ru_p_free{width: 120px;background-position: -113px -636px; margin-right:5px;}
.p_writeReview{line-height:18px;}
/*第二步*/
label.error{font-size:11px; color:red;}
.inputBg{ font-family:Verdana, Arial, Helvetica, sans-serif; color:#333; height:18px;}
.cartHeader{ padding-right:10px; }
.cartHeader a{color:#03c;}
.cartGoodsTableBox table{margin-top:10px;font-size:12px;border-collapse:collapse;}
.cartGoodsTableBox table td,.cartGoodsTableBox table th{ background:#fff; }
.cartGoodsTableBox table th{background:#f1f1f1; color:#1C61A6; font-weight:bold; text-align:center;}
.cartGoodsTableBox a.jian_num{ margin-left:15px;}
.cartGoodsTableBox table a{ color:#1C61A6;}
table.itemListTable{margin:10px auto; border:1px solid #A6D0E6; }
.cartGoodsTableBox table.itemListTable td,.cartGoodsTableBox table.itemListTable th{ border:1px solid #A6D0E6;}
#btn-save-consignee,#btn-cancel-consignee,.consigneeSave,.consigneeCancel{background-position:0px -1470px; display:inline-block;width:90px; height:32px;margin:10px auto 0; overflow:hidden; zoom:1;}
#btn-save-consignee span,#btn-cancel-consignee span{ text-indent:-9999px; }
#btn-cancel-consignee,.consigneeCancel{ background-position:-100px -1470px;}
.consigneeSave,.consigneeCancel{ border:none; cursor:pointer;}

.customerInfo  table{ border:none;}

.favoritesAddCart{ background-position:-181px -1248px; display:block; width:18px; height:18px; margin:0 auto; cursor:pointer; text-indent:-9999px; overflow:hidden; }

/*如果有地址*/
#div-consignee{ padding:20px;}
#div-consignee p{ font-size:12px; line-height:20px;}
/*Shipping method*/
.ShippingMethod dl{ padding:10px;}
.ShippingMethod dt{ padding:0 0 5px 25px;}
.leftWarp{width:540px; background:url(../images/styleimg/point.gif) repeat-x 100px center;}
.leftWarp label{background-color:#FFF;}
.ShippingMethod dd{ padding:0 0 5px 25px; line-height:20px; font-size:12px;}
.ShippingMethod dd .shipping_method,.ShippingMethod dd .baofei{margin:3px 0 0 -20px;}
.ShippingMethod dd i{font-style:normal;color:#093;}
/*Payment Method*/
.paymentMethod ul{ padding:10px;}
.paymentMethod ul li{ padding:0 0 10px 25px; font-size:12px;}
.paymentMethod li input{ margin-left:-20px; }
.paymentMethod li h4{ padding-bottom:10px; display:inline;}
.paymentMethod li h4 img{ vertical-align:middle;}
.paymentMethod li  .paymentMethod_show{ padding:10px; border:1px solid #9FD2FF;}
/*Order Tota*/
.orderTotal table,.orderTotal table th,.orderTotal table td{ border:1px solid #A6D0E6;}
.orderTotal th{ text-align:center; font-weight:bold;}
/* PlaceYouOrder按钮 */
.PlaceYouOrder{ padding:10px 10px 40px; text-align:center;}
.exp_cheakoutTopBtnWarp{ width:997px; height:0; margin:0 auto; position:relative;}
.exp_cheakoutTopBtnWarp .PlaceYouOrderBtn{position:absolute;right:0;top:-36px;}
.PlaceYouOrderBtn{background-position:0 -1430px; width:187px; height:32px; border:none; cursor:pointer;}
/*订单提交成功*/
.flowBox_done{ background:#fff; border:1px solide #ddd;margin:20px auto;}
.flowBox_done strong{ font-weight:bold;}

.cheakOut_over{ padding:10px 10px 40px;}
.cheakOut_over h3{ font-size:12px;}
.cheakOutInfoBox{  padding:10px;} 
.cheakOutInfoBox p{ line-height:30px;}
.cheakOutInfoBox p a{ text-decoration:none; color:#666;}
.cheakOutInfoBox p a:hover{ text-decoration:underline;}

/*cheakout warp*/
#cheatOut_mainWarp{ width:997px; margin-left:auto; margin-right:auto; font-size:12px;}
.po_mainL{ width:600px;}
.po_saderR{ width:380px;}
.orang{ color:#F60;}
#cheatOut_mainWarp .cartHeader{ margin-top:-1px;}
#cheatOut_mainWarp .leftWarp{ width:325px;}
#cheatOut_mainWarp .SM_box dt,#cheatOut_mainWarp .SM_box dd{ font-size:11px; line-height:16px;}
#cheatOut_mainWarp .IL_box table{ margin-top:10px; margin-bottom:10px;}
#cheatOut_mainWarp .IL_box th{ font-weight:bold; text-align:center;}
#cheatOut_mainWarp .OS_box{ font-size:14px;}
#cheatOut_mainWarp .OS_box li{ line-height:25px;}
#cheatOut_mainWarp .OS_box p{ border-top:1px solid #ccc;}
#cheatOut_mainWarp .DMP_box p{ padding:10px;}
#cheatOut_mainWarp .DMP_box div{ padding:10px; border-top:1px solid #ccc;}



.discount_used{ background:url(../images/styleimg/ahappydealtag.png) no-repeat -10px -700px; width:195px; height:16px; float:right; margin-right:70PX;}